
<div class="container-fluid">
  <div class="row profile">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="profile-sidebar">

        <div class="profile-userpic">
          <% if !current_user.nil? %>
            <a href="/users/<%= current_user.username %>">
              <%= image_tag current_user.avatar.url, class: "img-responsive" %>
            </a>
          <% end %>
        </div>
        <div class="profile-usermenu">
          <ul class="nav add_tip">
            <% if !current_user.nil? %>
              <%= link_to "Add New Tip", new_user_tip_path(current_user) %>
            <% end %>
          </ul>
          <ul class="nav">
            <li>
              <a href="/genres/beauty">
                Beauty
              </a>
            </li>
            <li>
              <a href="/genres/health">
                Fitness/Health
              </a>
            </li>
            <li>
              <a href="/genres/food">
                Food
              </a>
            </li>
            <li>
              <a href="/genres/home">
                Home/Living
              </a>
            </li>
            <li>
              <a href="/genres/travel">
                Travel
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
