<div class="about-us">
  <div class="bg">
    <div class="info">
      <h1>Explore and Share Tips </h1>
      <p>We are the closest thing to an instruction manual for life. </p>
      <p>Take a look around, and share your expertise</p>
      <p>on how YOU do life better!</p>
    </div>
  </div>
  <div class="team">
    <div class="julie">
      <div class="left-info">
        <h3><a href="https://www.linkedin.com/in/jliehng/">Julie Huang</a></h3>
        <p> I am a front-end web developer passionate about fashion, design, art, data representation, and the public good. I am constantly evaluating
          design, usability, and efficiencies in everything that I see and touch. I thrive in fast-paced and challenging environments. Currently,
          I am searching for junior web developer opportunities in e-commerce, retail, and/or creative industries.</p>
      </div>
      <div class="right-img">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAxkAAAAJDA4NTc1MjI5LTkxNzgtNGVkNS1hNTAzLWY1MGMxMGRlYzk2Mw.jpg" alt="">
      </div>
    </div>
    <div class="michael">
      <img src="https://avatars2.githubusercontent.com/u/22490639?v=3&s=460" alt="">
    </div>
    <div class="addy">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAulAAAAJDA5ODBhNmI2LWQ5OGUtNGZmNS1iODBiLWI4MzdjNjJkOTVjMw.jpg" alt="">
    </div>
    <div class="jane">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA11AAAAJGI2MDEyM2U4LTU5NTMtNGJmMy04YzJlLTYyNDcxNTYwYTRiMw.jpg" alt="">
    </div>
  </div>
</div>
