@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Quicksand:300,400,500,700|Teko:300,400,500,600,700');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$yellow-gold: #F2C94C;
$muted-gold: #DFCA8A;
$light-grey: #E0E0E0;
$dark-grey: #4F4F4F;
$black-grey: #333333;
$sky-blue: #2D98DF;
$life-red: #E92828;
$dark-red: #d00a0a;

body {
  height: 100%;
  padding-top: 130px;
  input {
    background-color: $yellow-gold;
  }
}
// t e m p l a t e
.jumbotron {
   margin: auto;
   background-color: $life-red;
   color: white;
   height: 250px;
   clear: both;
   z-index: 100;
     span {
       font-size: 16px;
       margin-right: 10px;
       a {
         color: $yellow-gold;
       }
       a:hover {
         text-decoration: none;
         color: $light-grey;
       }
     }
     ul {
       list-style-type: none;
     }
     li {
       display: inline-block;
     }
     .text-center {
       margin-top: 20px;
       a {
         color: white;
       }
       a:hover {
         color: white;
         text-decoration: none;
       }
     }
       .life {
         font-family: 'Teko', sans-serif;
         font-weight: 600;
         font-size: 90px;
         margin-right: 10px;
       }
       .better {
         font-family: 'Quicksand', sans-serif;
         font-weight: 200;
         font-size: 80px;
       }
     .button_to {
       margin: -50px 0px 0px 0px;
       display: inline-block;
       border-style: none;
       padding: 10px 3px 10px 3px;
       font-family: 'Nunito Sans', sans-serif;
     }
     input {
       width: 100%;
       margin: auto;
       border-style: none;
       padding: 10px;
       font-family: 'Nunito Sans', sans-serif;
       font-size: 12px;
       color: $black-grey;
       background-color: $yellow-gold;
       text-transform: uppercase;
     }
     .pull-right {
       display: inline-block;
       margin-top: -25px;
       margin-right: 10px;
     }
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  background-color: $dark-grey;
  color: white;
  padding-top: 15px;
  position: relative;
  ul {
    list-style-type: none;
    padding-left: 15px;
  }
  a {
    color: white;
    display: block;
    border-bottom: 1px $yellow-gold;
    font-family: 'Quicksand', sans-serif;
  }
  a:hover {
    color: $yellow-gold;
    text-decoration: none;
  }
  li {
    padding-top: 10px;
  }
  .pull-right {
    margin-right: 15px;
    margin-top: -80px;
  }
  .small {
    font-weight: 200;
    display: inline-block;
    margin-top: 20px;
  }
}

// i n d e x  /  l a n d i n g  p a g e
.user-false {
  h3 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    color: $sky-blue;
  }
  .large-tip {
    background-color:$yellow-gold;
    height: 300px;
    padding: 20px;
  }
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: $life-red;
    text-align: center;
  }
  h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: justify;
  }
}
.user-true {
  margin-top: 150px;
  width: 100%;
  .row {
    margin-bottom: 30px;
    text-align: center;
  }
  .col-sm-4 {
    display: inline-block;
    width: 495px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: none;
  }
  h3 {
    display: inline-block;
    font-family: 'Teko', sans-serif;
    text-align: left;
    width: 70%;
    font-size: 40px;
    color: $sky-blue;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: $life-red;
    text-align: left;
  }
  .bigtip {
    display: inline-block;
    background-color: $yellow-gold;
    color: $black-grey;
    width: 70%;
    height: 100%px;
    margin-bottom: 20px;
    padding: 20px;
      h5 {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
      }
      h5.pull-right {
        margin-right: 10px;
      }
  }
  img {
    text-align: center;
    display: inline-block;
    width: 465px;
    margin: auto;
  }
  .text {
    background-color: $black-grey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  // use this to apply to forms
  input, textarea {
    background-color: $yellow-gold;
    border-style: none;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding-left: 10px;
  }
  textarea {
    height: 250px;
  }
  .form-btn {
    border-style: none;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: $sky-blue;
    margin-right: 15px;
    display: block;
  }
  .formgroup{
    margin-top: 80px;
    width: 50%;
    margin: auto;
  }
}
@media only screen and (max-width: 926px) {
    #sidebar {
      display: none;
    }
}
// n a v b a r
.profile-user {
  display: inline-block;
  margin-top: -50px;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  z-index: 100;
  vertical-align: top;
  h1 {
    display: inline-block;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    margin-left: 22px;
    color: $sky-blue;
  }
}
.profile {
  display: inline-block;
  margin-top: -50px;
  height: 100%;
  width: 100%;
  z-index: 100;
  vertical-align: top;
  h1 {
    display: inline-block;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    margin-left: 10px;
    color: $sky-blue;
  }
}
.profile-sidebar {
  padding: 15px 0 15px 0;
  width: 20%;
  background: $life-red;
  margin: auto;
  z-index: 150;
  max-height: 460px;
}
.profile-sidebar-genre {
  padding: 15px 0 15px 0;
  width: 20%;
  margin-top: 100px;
  background: $life-red;
  margin: auto;
  z-index: 150;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 25%;
  height: 25%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usermenu {
  background-color: $life-red;
  margin-top: 30px;
  text-align: center;
}
.profile-usermenu ul li a {
  color: white;
  background-color: $life-red;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  text-align: center;
}
.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: $black-grey;
}

// p r o f i l e  t i p s
.tipsdiv {
  display: inline-block;
  margin: auto;
  h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-left: 5px;
  }
}
.add_tip {
  a {
    text-align: center;
    color: $yellow-gold;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;

  }
    a:hover{
      color: white;
      text-decoration: none;
    }
}
.tips {
  display: inline-block;
  background-color: lightgrey;
  border: 3px;
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
    h3 {
      margin-bottom: 15px;
      margin-left: 10px;
    }
    .usertip-title {
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      padding-bottom: 10px;
    }
    .content {
      background-color: white;
      font-size: 16px;
      height: 200px;
      padding-right: 0;
    }
    .pull-left {
      font-size: 16px;
      margin-top: 5px;
    }
    .col-sm-4 {
      margin-right: 0px;
    }
    .pull-right {
      font-size: 14px;
      margin-top: 5px;
      @media only screen and (max-width: 1026px) {
          img {
            display: none;
          }
      }
    }
    .glyphicon {
      margin-left: 5px;
      color: $sky-blue;
    }
}

// s p e c i f i c  g e n r e  p a g e
.alltips {
  display: inline-block;
  background-color: $black-grey;
  border: 3px;
  border-radius: 10px;
  height: 350px;
  margin: 10px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  a:hover {
    text-decoration: none;
    color: white;
  }
  h3, p {
    display: inline-block;
    color: white;
    margin-bottom: 15px;
    margin-left: 5px;
  }
  p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
  }
  .usertip-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: $light-grey;
  }
  .content {
    background-color: white;
    color: $black-grey;
    font-size: 16px;
    height: 200px;
    padding-right: 0;
  }
  .pull-left {
    font-size: 14px;
    margin-top: 5px;
  }
  .col-sm-4 {
    margin-right: 0px;
  }
  .pull-right {
    font-size: 14px;
    margin-top: 5px;
    @media only screen and (max-width: 1026px) {
        img {
          display: none;
        }
    }
  }
  .glyphicon {
    margin-left: 5px;
    color: $yellow-gold;
  }
  a {
    display: inline-block;
    color: lightgrey;
    margin-right: 10px;
    a:hover {
      color: white;
    }
  }
}

// e d i t  p r o f i l e  p a g e
.editprofile {
  font-family: 'Nunito Sans', sans-serif;
  .profile-pic {
    margin-right: 15px;
  }
  .profilepic {
    font-size: 16px;
    font-weight: 400;
  }
  a {
    color: $sky-blue;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  a:hover {
    color: grey;
    text-decoration: none;
  }
  h1 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $sky-blue;
  }
  input {
    background-color: $yellow-gold;
    border-width: 0;
    height:30px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  .actions {
    height: 100px;
    border-style: none;
  }
  .content {
    margin-top: 30px;
  }
  #user_avatar {
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 0;
  }
  img {
    margin-top: 10px;
  }
  h2 {
    color: $sky-blue;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center
  }
  label {
    margin-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
  }
  .pull-left {
    float: none;
    clear: both;
    margin: 0;
    padding-left: 0;
    input[type="Submit"] {
      height: 50px;
      width: 150px;
      font-family: 'Nunino Sans', sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300;
      margin-top: 15px;
      background-color: $sky-blue;
      color: white;
    }
  }
  .cancel {
    font-size: 12px;
    opacity: .65;
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    clear: both;
    padding-top: 0;
    padding-left: 0;
    float: none;
  }
}

// a b o u t  u s  p a g e
.about-us {
  margin-top: -50px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  .bg {
    display: block;
    height: 450px;
    background-image: url(about.jpg);
    background-size: cover;
    width: 100%;
    background-position: 100%;
    @media only screen and (max-width: 1026px) {
        p {
          display: none;
        }
    }
  }
  .info {
    position: relative;
    top: 52%;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
  }
  a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: $sky-blue;
    font-weight: 500;
  }
  a:hover {
    text-decoration: none;
  }
  .team {
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    p {
      display: inline-block;
      font-size: 16px;
      font-family:'Nunito Sans', sans-serif;
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .member {
      margin: auto;
      padding: 30px;
    }
  }
}


// s m a l l  n a v  b a r
.jumbotron-small {
  z-index: 100;
  width: 100%;
  margin: auto;
  background-color: $life-red;
  color: white;
  height: 80px;
  span {
    font-size: 16px;
    margin-right: 10px;
    a {
      color: $yellow-gold;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  .logo-left {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
    p {
      display: inline-block;
      margin: auto;
      }
    .life {
      font-family: 'Teko', sans-serif;
      font-size: 45px;
      margin-left: 10px;
      font-weight: 500;
    }
    .better {
      font-family: 'Quicksand';
      font-size: 40px;
      margin-left: 10px;
      font-weight: 200;
    }
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  .dropbtn {
    padding: 25px;
    font-size: 16px;
    height: 80px;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    p {
      display: inline-block;
      margin-top: 5px;
    }
    img {
      margin-left: 10px;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 10px;
    min-width: 160px;
    z-index: 1;
    a {
      background-color: $dark-red;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block
    }
    a:hover {
      background-color: $black-grey;
      text-decoration: none
    }
  }
  .dropdown:hover .dropdown-content {
    display: block
  }
  .dropdown:hover .dropbtn {
    background-color: $dark-red;
  }
  .button_to {
    margin: 0px 10px 0px 0px;
    display: inline-block;
    border-style: none;
    padding: 10px 3px 10px 3px;
    font-family: 'Nunito Sans', sans-serif;
    input {
      width: 100%;
      margin: auto;
      border-style: none;
      padding: 10px;
      font-family: 'Nunito Sans', sans-serif;
      color: $black-grey;
      background-color: $yellow-gold;
    }
  }
}

// t i p  f o r m
.tip {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 160px;
  margin-bottom: 40px;
  .row {
    margin-top: 40px;
  }
  h1 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: $sky-blue;
  }
  input, textarea {
    background-color: $yellow-gold;
    border-width: 0;
    height:20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  textarea {
    height: 150px;
  }
  input[type="Submit"] {
    height: 50px;
    width: 87px;
    font-family: 'Nunino Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    margin: auto;
    background-color: $sky-blue;
    color: white;
  }
  select[name="tip[genre]"] {
    width: 150px;
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    border-radius: 0;
    border: none;
    padding: 10px;
  }
  .genre-select, .pic-select {
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: middle;
    clear: both;
    #tip_avatar {
      width: 70%;
      margin-left: auto;
      vertical-align: middle;
      text-align: center;
      background-color: $yellow-gold;
      clear: both;
    }
  }
  .pic-select {
    padding-bottom: 10px;
  }
  .yellow {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
  .tip-edit {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $yellow-gold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    a, .back {
      color: white;
      display: inline-block;
      text-align: left;
      padding-left: 10px;
    }
    a:hover {
      text-decoration: none;
      color: $sky-blue;
    }
  }
  .content {
    background-color: $yellow-gold;
    border: 2px;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    #tip_title {
      padding-top: 15px;
      background-color: white;
      border: 2px;
      border-radius: 5px;
    }
    #tip_content {
      background-color: white;
      border: 2px;
      border-radius: 5px;
    }
  }
  .back {
    float: left;
  }
}

// s i g n  u p / l o g  i n  f o r m

.short-form {
  height: 80vh;
}
.form-group {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
  margin-bottom: 0;
  width: 100%;
  float: none;
  padding: 40px;
  background-color: $yellow-gold;
  .profile-image {
    margin: 20px;
    padding: 10px;
  }

  h2 {
    font-family:'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 30px;
    color: $life-red;
    text-align: center;
  }
  form {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    float: none;
  }
  #user_avatar {
     text-align:center;
     display:inline-block;
     margin: auto;
     padding-left: 90px;
     width: 100%;
     background-color: $yellow-gold;
     padding-bottom: 30px;
     padding-top: 10px;
  }
  label {
    font-family:'Nunito Sans', sans-serif;
    margin-bottom: 5px;
  }
  input {
    background-color: white;
    width: 250px;
    border: none;
    height: 35px;
    margin-left: 10px;
    padding-left: 10px;
  }
  .field {
    background-color: $yellow-gold;
    padding: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  select {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    border-radius: 0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  input[type="Submit"] {
    font-family: 'Nunito Sans', sans-serif;
    background-color: $sky-blue;
    color: white;
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .actions {
    margin: 10px;
  }
  .reset-pw {
    #user_email {
      width: 330px;
    }
    input[type="Submit"] {
      font-family: 'Nunito Sans', sans-serif;
      background-color: $sky-blue;
      color: white;
      width: 330px;
      padding: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
  .other-links {
    a {
      color: $sky-blue;
      font-family: 'Nunito Sans', sans-serif;
    }
    a:hover {
      color: $dark-grey;
      text-decoration: none;
    }
  }
}
