@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Quicksand:300,400,500,700|Teko:300,400,500,600,700');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$yellow-gold: #F2C94C;
$muted-gold: #DFCA8A;
$light-grey: #E0E0E0;
$dark-grey: #4F4F4F;
$black-grey: #333333;
$sky-blue: #2D98DF;
$life-red: #E92828;
$dark-red: #d00a0a;

html, body {
  height: 100%;
}
// t e m p l a t e
.jumbotron {
   margin: auto;
   background-color: $life-red;
   color: white;
   height: 220px;
     span {
       font-size: 16px;
       margin-right: 10px;
       a {
         color: $yellow-gold;
       }
     }
     ul {
       list-style-type: none;
     }
     li {
       display: inline-block;
     }
     .text-center {
       margin-top: 20px;
       a {
         color: white;
       }
       a:hover {
         color: white;
         text-decoration: none;
       }
     }
       .life {
         font-family: 'Teko', sans-serif;
         font-weight: 600;
         font-size: 90px;
         margin-right: 10px;
       }
       .better {
         font-family: 'Quicksand', sans-serif;
         font-weight: 200;
         font-size: 80px;
       }
     .button_to {
       margin: -50px 0px 0px 0px;
       display: inline-block;
       border-style: none;
       padding: 10px 3px 10px 3px;
       font-family: 'Nunito Sans', sans-serif;
     }
     input {
       width: 100%;
       margin: auto;
       border-style: none;
       padding: 10px;
       font-family: 'Nunito Sans', sans-serif;
       color: $black-grey;
       background-color: $yellow-gold;
     }
     .pull-right {
       display: inline-block;
       margin-top: -25px;
       margin-right: 10px;
     }
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  background-color: $dark-grey;
  color: white;
  padding-top: 15px;
  margin-top: 50px;
  position: relative;
  ul {
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
  }
  a {
    color: white;
  }
  li {
    padding-top: 10px;
  }
  .pull-right {
    margin-right: 15px;
    margin-top: -60px;
  }
}

// i n d e x  /  l a n d i n g  p a g e
.user-false {
  h3 {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    color: $sky-blue;
  }
  .large-tip {
    background-color:$yellow-gold;
    height: 300px;
    padding: 20px;
  }
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: $life-red;
    text-align: center;
  }
  h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: justify;
  }
}
.user-true {
  margin-top: 20px;
  width: 100%;
  .row {
    margin-bottom: 30px;
    text-align: center;
  }
  .col-sm-4 {
    display: inline-block;
    width: 495px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: none;
  }
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: $life-red;
    text-align: left;
  }
  .bigtip {
    display: inline-block;
    background-color: $yellow-gold;
    color: $black-grey;
    width: 70%;
    height: 110px;
    margin: auto;
    padding: 15px;
  }
  img {
    text-align: center;
    display: inline-block;
    width: 465px;
    margin: auto;
  }
  .text {
    background-color: $black-grey;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  // use this to apply to forms
  input, textarea {
    background-color: $yellow-gold;
    border-style: none;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding-left: 10px;
  }
  textarea {
    height: 250px;
  }
  .form-btn {
    border-style: none;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: $sky-blue;
    margin-right: 15px;
    display: block;
  }
  .formgroup{
    margin-top: 80px;
    width: 50%;
    margin: auto;
  }
}

// n a v b a r
.profile {
  display: inline-block;
  margin: auto;
  height: 100%;
  width: 100%;
  h1 {
    display: inline-block;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    margin-left: 22px;
    color: $sky-blue;
  }
}
.profile-sidebar {
  padding: 15px 0 15px 0;
  background: $life-red;
  height: 100%;
}
.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usermenu {
  background-color: $life-red;
  margin-top: 30px;
  text-align: center;
}
.profile-usermenu ul li a {
  color: white;
  background-color: $life-red;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  text-align: center;
}
.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: $black-grey;
}

// p r o f i l e  t i p s
.tipsdiv {
  display: inline-block;
  margin-top: auto;
  h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-left: 10px;
  }
}
.add_tip {
  a {
    text-align: center;
    color: $yellow-gold;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;

  }
    a:hover{
      color: white;
      text-decoration: none;
    }
}
.tips {
  display: inline-block;
  background-color: lightgrey;
  border: 3px;
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
    h3 {
      margin-bottom: 15px;
      margin-left: 10px;
    }
    .usertip-title {
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      padding-bottom: 10px;
    }
    .content {
      background-color: white;
      font-size: 16px;
      height: 200px;
      margin: 5px;
      padding-right: 0;
    }
    .pull-left {
      font-size: 14px;
      margin-top: 5px;
      margin-left: 5px;
    }
    .pull-right {
      font-size: 14px;
      margin-top: 5px;
      margin-right: 5px;
      @media only screen and (max-width: 1026px) {
          img {
            display: none;
          }
      }
    }
    .glyphicon {
      margin-left: 5px;
      color: $sky-blue;
    }
}

// s p e c i f i c  g e n r e  p a g e
.alltips {
  display: inline-block;
  background-color: $black-grey;
  border: 3px;
  border-radius: 10px;
  height: 350px;
  margin: 10px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  h3, p {
    color: white;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
  }
  .usertip-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: $light-grey;
  }
  .content {
    background-color: white;
    color: $black-grey;
    font-size: 16px;
    height: 200px;
    margin: 5px;
    padding-right: 0;
  }
  .pull-left {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .pull-right {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    @media only screen and (max-width: 1026px) {
        img {
          display: none;
        }
    }
  }
  .glyphicon {
    margin-left: 5px;
    color: $yellow-gold;
  }
}

// e d i t  p r o f i l e  p a g e
.editprofile {
  font-family: 'Nunito Sans', sans-serif;
  input {
    background-color: $yellow-gold;
    border-width: 0;
    height:15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  .actions {
    height: 100px;
    border-style: none;
  }
  .content {
    margin-top: 30px;
  }
  #user_avatar {
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
  }
  img {
    margin-top: 30px;
  }
  h2 {
    color: $sky-blue;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center
  }
  label {
    margin: 0
  }
  .cancel {
    margin-top: 50px;
  }
}

// a b o u t  u s  p a g e
.about-us {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  .bg {
    display: block;
    height: 400px;
    background-image: url(about.jpg);
    background-size: cover;
    width: 100%;
    background-position: 100%;
  }
  .info {
    position: relative;
    top: 52%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 18px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0
  }
  .team {
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    p {
      font-size: 15px;
    }
    .member {
      height: 280px;
      margin: auto
    }
  }
}


// s m a l l  n a v  b a r
.jumbotron-small {
  z-index: 100;
  width: 100%;
  margin: auto;
  background-color: $life-red;
  color: white;
  height: 60px;
  span {
    font-size: 16px;
    margin-right: 10px;
    a {
      color: $yellow-gold;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  .logo-left {
    float: left;
    margin-top: 5px;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    height: 60px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
      background-color: $dark-red;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block
    }
    a:hover {
      background-color: rgba(0,0,0,0.8);
    }
  }
  .dropdown:hover .dropdown-content {
    display: block
  }
  .dropdown:hover .dropbtn {
    background-color: $dark-red;
  }
  .button_to {
    margin: 0px 10px 0px 0px;
    display: inline-block;
    border-style: none;
    padding: 10px 3px 10px 3px;
    font-family: 'Nunito Sans', sans-serif;
    input {
      width: 100%;
      margin: auto;
      border-style: none;
      padding: 10px;
      font-family: 'Nunito Sans', sans-serif;
      color: $black-grey;
      background-color: $yellow-gold;
    }
  }
}

// a d d  n e w  t i p
.tip {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  .row {
    margin-top: 40px;
  }
  input, textarea {
    background-color: $yellow-gold;
    border-width: 0;
    height:15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  textarea {
    height: 150px;
  }
  input[type="Submit"] {
    width: 100px;
    height: 60px;
    font-weight: 800;
    font-size: 15px
  }
  select[name="tip[genre]"] {
    width: 150px;
    margin-bottom: 30px;
  }
  .genre-select, .pic-select {
    margin-bottom: 20px;
    font-weight: 600;
    border: 2px solid $yellow-gold
  }
  input[type="file"] {
    margin-left: 80px;
    background-color: white;
  }
  .yellow {
    margin-top: 20px;
  }
  .content {
    margin-top: 20px;
  }
}
