
<% @tips.each do |tip| %>

	

	<%= link_to like_tip_path(tip), method: :put do %>
	 	<span class= "glyphicon glyphicon-thumbs-up"></span>
	  		<%= tip.get_upvotes.size %>
	<% end %>

	<%= link_to dislike_tip_path(tip), method: :put do %>
	  <span class= "glyphicon glyphicon-thumbs-down"></span>
	  	<%= tip.get_downvotes.size %>
	<% end %>

<%end%>
    
     
